/******************************************
GENERAL
******************************************/

* {
  margin: 0px;
  padding: 0px;
	box-sizing: border-box;
  font-family: Big Caslon, Book Antiqua, Palatino Linotype, Georgia, serif;

}

/* =================================
  Base Element Styles
==================================== */

body {
  color: #3b3a36;
}

p {

}

header {
  margin-bottom: 2em;
  background-color: #c0dfd9;
  color: #e9ece5;
}

h1 {
  font-size: 2em;
}

h2{
  font-size: 1.5em;
}

h1,
h2 {
  color: #e9ece5;
}

h3 {

}

a {
  text-decoration: none;
  color: #3b3a36;
}

/*nav links*/
nav a, nav a:visited {
  color: #e9ece5;
}

/*selected nav links*/
nav a.selected, nav a:hover {
  color: #3b3a36;
}

img {
	max-width: 100%;
}

footer {
  background-color: #c0dfd9;
  text-align: center;
  display: inline;
  margin: 1em;
  font-size: 1.1em;
}

/* =================================
  Base Layout Styles
==================================== */

.logo {
  text-align: left;
  margin: .2em 0 .2em 1em;
}

.main-nav, li {
  text-align: center;
  font-size: 1.1em;
  display: inline;
  color; #B88B3D;
  padding-left: 2px;
  padding-right: 2px;
}

.wrapper {
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
}

.blog-message {
  text-align: center;
}

.gallery {
  display: block;
}

.main-footer {
  background-color: #c0dfd9;
  color: #3b3a36;
  padding: 2em 0;
  margin-top: 30px;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 5px 5px;
}
